<div class="search">
  <form  #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search your city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="src/assets/sunrise2.jpg" alt="" *ngIf="weatherData.current.temp_c>15">
    <img src="src/assets/night2.jpg" alt="" *ngIf="weatherData.current.temp_c<=15">

    <div class="weather-data">
      <div class="location">{{weatherData.location.name}}</div>
      <div class="temperature">{{weatherData.current.temp_c | number: '1.0-0'}}°C</div>
      <div class="location">{{weatherData.current.condition.text}}</div>
      
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="src/assets/low-temperature.png" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.temp_c | number: '1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="src/assets/high-temperature.png" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.temp_c | number: '1.0-0'}} °C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="src/assets/humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.humidity}}  g.m-3
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="src/assets/wind.png" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">bui
          {{weatherData.current.wind_kph
          }} km/hr
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="src/assets/celsius.png" alt="">
          <span>Feels Like</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.feelslike_c| number: '1.0-0'}} °C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="src/assets/latency.png" alt="">
          <span>Latency</span>
        </div>
        <div class="info-block-value">
          {{weatherData.location.lat
          }} ms
        </div>
      </div>
      
    </div>
  </div>


</div>

<router-outlet></router-outlet>